# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# IDE and editor directories
.idea/
.vscode/

# Pytest
.cache/

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/
.dmypy.json
.dmypy.json.???

# Pyre type checker
.pyre/

# Python-specific settings
*.log
*.bak
*.swp
*.swo
.env